<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @job.date %>
</p>

<%= link_to 'Edit', edit_administrator_job_path(@job) %> |
<%= link_to 'Back', administrator_jobs_path %>
